//--FFXIV风格 bar图标--
.column-link,
.tabs-bar {
    .fa {
        transform: unset !important;

        &::before {
            content: "";
            width: 24px;
            height: 24px;
            font-size: 16px;
            background-size: 24px 24px;
            display: inline-block;
            position: relative;
            top: -8px;
            right: 0.085em;
            text-align: end;
            /* vertical-align: sub; */
            margin: 0px 0px -15px 0px;
        }
    }

    .fa-home::before {
        background-image: url(#{$xiv_home});
    }

    .fa-bell::before {
        background-image: url(#{$xiv_notice});
    }

    .fa-user-plus::before {
        background-image: url(#{$xiv_request});
    }

    .fa-gamepad::before {
        background-image: url(#{$xiv_local});
    }

    .fa-globe::before {
        background-image: url(#{$xiv_remote_b});
    }

    .fa-envelope::before {
        background-image: url(#{$xiv_direct});
    }

    .fa-heart::before {
        background-image: url(#{$xiv_like});
    }

    .fa-bookmark::before {
        background-image: url(#{$xiv_bookmark});
    }

    .fa-list-ul::before {
        background-image: url(#{$xiv_list});
    }

    .fa-cog::before {
        background-image: url(#{$xiv_settings});
    }

    .fa-gears::before {
        background-image: url(#{$xiv_settings});
    }

    .fa-users::before {
        background-image: url(#{$xiv_manage});
    }

    .fa-search::before {
        background-image: url(#{$xiv_search});
    }

    .fa-bars::before {
        background-image: url(#{$xiv_bars});
    }


}

// FFXIV风格 bar文字
.column-link--transparent.active {
    margin: 5px 5px 5px 5px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0px 0px 1px 1px #ffffff, inset 0px 0px 1px 1px #ffffff, 0px 0px 4px 3px #cd9e2980, inset 0px 0px 3px 2px #cd9e2990;
    border-radius: 12px;
}

.column-link,
.tabs-bar {
    span {
        color: #ffffff !important;
        font-weight: bold;
        /* font-size: 17px; */
        @include text-outline($pre: (0px 0px 2px #000000, 0px 0px 1px #cd9e29), $blur: 1px, $color: #cd9e2980);
        //text-shadow: 0px 0px 2px #000000, 0px 0px 1px #cd9e29, 1px 0px 1px #cd9e2980, -1px 0px 1px #cd9e2980, 0px 1px 1px #cd9e2980, 0px -1px 1px #cd9e2980;
    }
}

.getting-started .column-link{
    color: #ffffff !important;
    font-weight: bold;
    @include text-outline($pre: (0px 0px 2px #000000, 0px 0px 1px #cd9e29), $blur: 1px, $color: #cd9e2980);
}

.column-link[href^="/web/lists"]{
    color: #ffffff !important;
    font-weight: bold;
    @include text-outline($pre: (0px 0px 2px #000000, 0px 0px 1px #cd9e29), $blur: 1px, $color: #cd9e2980);
}

.tabs-bar__link {
    margin-bottom: 2px;
    border-bottom: unset;

    &.active {
        border-bottom: unset;
        box-shadow: 0px 0px 1px 1px #ffffff, inset 0px 0px 1px 1px #ffffff, 0px 0px 4px 3px #cd9e2980, inset 0px 0px 3px 2px #cd9e2980;
        padding: 10px 5px 8px;
        margin: 5px 5px 5px;
        border-radius: 15px;
    }
}

//通知数字
.icon-with-badge__badge {
    position: absolute;
    left: 9px;
    top: -10px;
    background: transparent;
    border: 0px;
    padding: 1px 6px;
    border-radius: 0px;
    font-size: 24px;
    font-family: 'BebasNeue';
    font-weight: bold;
    line-height: 14px;
    color: #fff;
    @include text-outline($pre: (0px 0px 2px #000000, 0px 0px 1px #cd9e29), $blur: 1px, $color: #cd9e2980);
    //text-shadow: 0px 0px 2px #000000, 0px 0px 1px #cd9e29, 1px 0px 1px #cd9e2980, -1px 0px 1px #cd9e2980, 0px 1px 1px #cd9e2980, 0px -1px 1px #cd9e2980;
}

.column-link__badge {
    font-size: 24px;
    font-weight: bold;
    font-family: 'BebasNeue';
    padding: 8px 8px;
    margin: -10px 10px;
}