@import "publish_button.scss";
@import "text_replace.scss";
@import "job_frame.scss";
// @import "user_data/lv.scss";
// @import "user_data/sc.scss";
@import "nickname_prefix_icon.scss";
// @import "user_data/icon.scss";
@import "id_styles.scss";
@import "misc.scss";
// @import "user_data/style.scss";
@import "nickname_ffxiv-style.scss";
@import "time_ffxiv-style.scss";
@import "bar_ffxiv-styke.scss";
@import "boost.scss";

.status__content__read-more-button {
    color: $xiv-text-highlight-color;
}


.poll {

    &__chart {
        background: darken($xiv-progress-color, 5%);

        &.leading {
            background: $xiv-progress-color;
        }
    }
}

.react-toggle--checked .react-toggle-thumb,
.react-toggle-track,
.react-toggle-thumb {
    border-color: $xiv-progress-color;
}

.react-toggle--checked .react-toggle-track {
    background-color: $xiv-progress-color;
}

.react-toggle:is(:hover, :focus-within):not(.react-toggle--disabled) .react-toggle-track {
    background-color: darken($xiv-progress-color, 10%);
}


.react-toggle--checked:is(:hover, :focus-within):not(.react-toggle--disabled) .react-toggle-track {
    background-color: lighten($xiv-progress-color, 10%);
}


.reply-indicator,
.quote-indicator {

    &__cancel .icon-button.inverted,
    .attachment-list__list a,
    .attachment-list__list .fa,
    &__content {
        // color: $white;
    }
}

.reply-indicator {
    background: lighten($xiv-button-blue-color, 25%);
}

.display-name__account,
.notification__message {
    color: $xiv-text-white-color;
}

.notification__message .fa,
.status__action-bar-dropdown .icon-button.active,
.status__wrapper .icon-button.active,
.column-back-button,
.column-header__back-button,
.column-header>.column-header__back-button {
    color: $xiv-text-highlight-gold-color;
}


.simple_form .input.field_with_errors {
    label {
        color: $error-red;
    }

    input[type=text],
    input[type=number],
    input[type=email],
    input[type=password],
    textarea,
    select {
        border-color: $error-red;
    }

    .error {
        color: $error-red;
    }
}

.compose-form .compose-form__warning,
.empty-column-indicator,
.error-column,
.follow_requests-unlocked_explanation,
.status__content,
.reply-indicator__content,
.quote-indicator__content,
.announcements__item__content,
.account__header__bio .account__header__fields,
.simple_form .hint,
.admin-wrapper .content .muted-hint,
body .muted-hint {
    a {
        color: $xiv-text-highlight-gold-color;

        &.unhandled-link {
            color: $xiv-text-highlight-gold-color;
        }
    }

}

.dropdown-menu__item a:focus,
.dropdown-menu__item a:hover,
.dropdown-menu__item a:active,
.dropdown-menu__item button:focus,
.dropdown-menu__item button:hover,
.dropdown-menu__item button:active {
    background: $xiv-text-highlight-gold-color;
    color: $ui-base-color;
    outline: 0;
}



.conversation,
.notification.notification-follow,
.notification.notification-follow-request,
.notification.notification-admin-sign-up,
.notification .status__wrapper,
.status__wrapper {
    &::after {
        content: '';
        display: block;
        height: 1px;
        border-top: 1px solid #161616;
        border-bottom: 1px solid #565656;
    }
}

.notification .account,
.status {
    border-bottom: unset;
}


.column>.scrollable,
.getting-started {
    border-left: 1px solid #0a0b0a;
    box-shadow: inset 0px -1px 0px 0px #100000, inset 0px -2px 0px 0px #291710, inset 0px -3px 0px 0px #5a4931, inset 0px -4px 0px 0px #635a4a, inset 0px -6px 0px 0px #c6be9c, inset 0px -7px 0px 0px #312c21, inset 0px -8px 0px 0px #292429, inset 1px 0px 0px 0px #63563c, inset 3px 0px 0px 0px #947D5A, inset 4px 0px 0px 0px #947d4a, inset 5px 0px 0px 0px #6b5631, inset 6px 0px 0px 0px #422718, inset 7px 0px 0px 0px #180000, inset -1px 0px 0px 0px #342113, inset -2px 0px 0px 0px #604826, inset -3px 0px 0px 0px #8c6939, inset -4px 0px 0px 0px #7e6f4d, inset -5px 0px 0px 0px #ad966b, inset -6px 0px 0px 0px #7e6f4d, inset -7px 0px 0px 0px #211810;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    border-radius: 0 0 15px 15px;
}

.notification__filter-bar {
    border-left: 1px solid #0a0b0a;
    box-shadow: inset 1px 0px 0px 0px #63563c, inset 3px 0px 0px 0px #947D5A, inset 4px 0px 0px 0px #947d4a, inset 5px 0px 0px 0px #6b5631, inset 6px 0px 0px 0px #422718, inset 7px 0px 0px 0px #180000, inset -1px 0px 0px 0px #342113, inset -2px 0px 0px 0px #604826, inset -3px 0px 0px 0px #8c6939, inset -4px 0px 0px 0px #7e6f4d, inset -5px 0px 0px 0px #ad966b, inset -6px 0px 0px 0px #7e6f4d, inset -7px 0px 0px 0px #211810;
    padding-left: 8px;
    padding-right: 8px;
}

/*
.column-header__wrapper {
    border-left: 1px solid #0a0b0a;
    box-shadow: inset 1px 1px 0px 0px #63563c, inset 3px 3px 0px 0px #947D5A, inset 4px 4px 0px 0px #947d4a, inset 5px 5px 0px 0px #6b5631, inset 6px 6px 0px 0px #422718, inset 7px 7px 0px 0px #180000, inset -1px 1px 0px 0px #342113, inset -2px 2px 0px 0px #604826, inset -3px 3px 0px 0px #8c6939, inset -4px 4px 0px 0px #7e6f4d, inset -5px 5px 0px 0px #ad966b, inset -6px 6px 0px 0px #7e6f4d, inset -7px 7px 0px 0px #211810;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: -8px;
    padding-top: 8px;
    border-radius: 15px 15px 0 0;
}

.columns-area__panels__main {
    border-left: 1px solid #0a0b0a;
    box-shadow: inset 0px 1px 0px 0px #adb094, inset 0px 2px 0px 0px #ffffde, inset 0px 3px 0px 0px #adb094, inset 0px 4px 0px 0px #8c7139, inset 0px 5px 0px 0px #654e26, inset 0px 6px 0px 0px #180000, inset 0px 8px 0px 0px #292429, inset 0px -1px 0px 0px #100000, inset 0px -2px 0px 0px #291710, inset 0px -3px 0px 0px #5a4931, inset 0px -4px 0px 0px #635a4a, inset 0px -6px 0px 0px #c6be9c, inset 0px -7px 0px 0px #312c21, inset 0px -8px 0px 0px #292429, inset 1px 0px 0px 0px #63563c, inset 3px 0px 0px 0px #947D5A, inset 4px 0px 0px 0px #947d4a, inset 5px 0px 0px 0px #6b5631, inset 6px 0px 0px 0px #422718, inset 7px 0px 0px 0px #180000, inset -1px 0px 0px 0px #342113, inset -2px 0px 0px 0px #604826, inset -3px 0px 0px 0px #8c6939, inset -4px 0px 0px 0px #7e6f4d, inset -5px 0px 0px 0px #ad966b, inset -6px 0px 0px 0px #7e6f4d, inset -7px 0px 0px 0px #211810;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    margin-top: 8px;
    padding-bottom: 8px;
    border-radius: 15px;
}

.tabs-bar__wrapper {
    padding-top: 0px;
}

.columns-area--mobile {
    padding-bottom: 0px;
}

*/

.column-header__wrapper {
    border-left: 1px solid #0a0b0a;
    box-shadow: inset 0px 1px 0px 0px #adb094, inset 0px 2px 0px 0px #ffffde, inset 0px 3px 0px 0px #adb094, inset 0px 4px 0px 0px #8c7139, inset 0px 5px 0px 0px #654e26, inset 0px 6px 0px 0px #180000, inset 0px 8px 0px 0px #292429, inset 1px 0px 0px 0px #63563c, inset 3px 0px 0px 0px #947D5A, inset 4px 0px 0px 0px #947d4a, inset 5px 0px 0px 0px #6b5631, inset 6px 0px 0px 0px #422718, inset 7px 0px 0px 0px #180000, inset -1px 0px 0px 0px #342113, inset -2px 0px 0px 0px #604826, inset -3px 0px 0px 0px #8c6939, inset -4px 0px 0px 0px #7e6f4d, inset -5px 0px 0px 0px #ad966b, inset -6px 0px 0px 0px #7e6f4d, inset -7px 0px 0px 0px #211810;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    border-radius: 15px 15px 0 0;
}