.status__wrapper a.status__display-name,
// toot detail page
.detailed-status__wrapper a.detailed-status__display-name,
// account page header
.account__header__tabs a.avatar {

    //.account__avatar {
    .account__avatar {

        &[data-avatar-frame-type="default"],
        &[data-avatar-frame-type="circle"] {
            transform: unset;
            border-radius: 15%;
            background-color: #747474;

            &::before {
                //.account__avatar__frame {
                background-image: url(#{$xiv_frame_lv0});
                content: "";
                width: 122%;
                height: 122%;
                position: absolute;
                z-index: 1;
                background-size: 100% 100%;
                border-radius: 0px;
                top: -11%;
                left: -11%;
                // 文字部分  
                line-height: 99px;
                font-size: 11px;
                color: #ffffff;
                font-family: BebasNeue, sans-serif;
                font-weight: normal;
                text-align-last: center;
                @include text-outline($pre: (0px 0px 2px #000000, 0px 0px 1px #cd9e29), $blur: 1px, $color: #cd9e2980);
                //text-shadow: 0px 0px 2px #000000, 0px 0px 1px #cd9e29, 1px 0px 1px #cd9e2980, -1px 0px 1px #cd9e2980, 0px 1px 1px #cd9e2980, 0px -1px 5px #cd9e2980;
                white-space: pre;
            }
        }
    }

    //&[href^="https://mona.do"] .account__avatar::before {
    //    background-image: url(#{$xiv_frame_lv0d});
    //}
}

// fix size in detail page
.detailed-status__wrapper a.detailed-status__display-name:has(.account__avatar[data-avatar-frame-type="default"]),
.detailed-status__wrapper a.detailed-status__display-name:has(.account__avatar[data-avatar-frame-type="circle"]) {
    display: inline;

    div.detailed-status__display-avatar {
        margin-bottom: 15px
    }
}

// 个人主页的特殊文字样式
.account__header__tabs a.avatar .account__avatar::before {
    line-height: 185px;
    font-size: 19px;
}

// 转嘟的特殊文字样式
.quote-status .status__info .status__display-name .account__avatar::before {
    line-height: 37px;
    font-size: 4px;
}

@mixin setBhIcon($lv) {
    @if $lv =='lv1' {
        background-image: url(#{$xiv_bh1});
    }

    @else if $lv =='lv2' {
        background-image: url(#{$xiv_bh2});
    }

    @else if $lv =='lv3' {
        background-image: url(#{$xiv_bh3});
    }

    @else if $lv =='lv4' {
        background-image: url(#{$xiv_bh4});
    }

    @else if $lv =='lv5' {
        background-image: url(#{$xiv_bh5});
    }

    @else if $lv =='lv12345' {
        background-image: url(#{$xiv_bh12345});
    }
}